@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("./diwali.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-family: mono;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    position: relative;
    top:150px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    position: relative;
    top:150px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.big-text {
    font-weight: bold;
    font-size: 10rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}
